@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

* {
	font-weight: normal;
  margin: 0; 
  padding: 0;
}

body {
	background-color: #fdfdfd; /*fff3e5*/
	margin: 0;
	direction: rtl;
	border-top: 0;
	-webkit-font-smoothing: antialiased;
	width: inherit;
	max-width: 35em;
	padding: 0.8em;
	padding-top: 0.7em;
	margin: auto;
  text-align:justify;
}

body,
button,
input,
select,
textarea {
	font: 125%/1.6 'Droid Serif',Georgia,serif;
	color: #666666;
}

p {
	margin-bottom: 1.6em;
}

strong, b {
font-weight: bold;
}

a:link,
a:visited {
	color: #c75f8c;
	text-decoration: none;
	
}

a:active,
a:hover {
	color: #888888
}

img,
object,
iframe {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	margin-bottom: 1.6em;
}

blockquote {
	padding: 0;
	margin: 1em 3em;
	color: #999;
	border-right: 3px solid #999;
	padding-right: 1em;
}

pre,
code {
	direction: ltr;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	word-wrap: break-word;
}

code {
	background-color: #F8F8F8;
	display: inline-block;
}

hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin: .2em 0;
}

.header {
	margin-top: 1em;
	margin-bottom: 1.6em;
	text-align: center;
	direction: ltr;
}

.header h1 {
	margin: 0;
	padding: 0;
}

.header h1 a {
	color: #444 !important;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 100 !important;
}

.subheader {
	color: #a7a7a7;
	font-size: .9em;
	margin-bottom: .6em;
	margin-top: -.6em;
}

.post {
	margin-bottom: 3.2em;
}

.post h2,.post h3,.post h4,.post h5,.post h6 {
  font-family: 'Droid Arabic Kufi';
}

.post h2,
.post h2 a:link,
.post h2 a:visited {	color: #404040;
	margin-bottom: .8em;
  text-align: center;
	font-weight: 600;
}

.post h2 a:hover,
.post h2 a:active {
	color: #888888;
}

.post h3 {
	margin-bottom: 1.6em;
}

.post h4 {
	font-weight: bold;
	margin-bottom: 1.5em;
}

.highlight pre { 
	background: #f8f8f8;
	margin-bottom: 1.8em;
	padding: .4em;
	border-radius: 6px;
}
.highlight code {
	background:none;
	display:inherit;
}

.signoff {
	color: #888888;
	font-size: .8em;
	line-height: 1;
	margin: 14px 0 60px 0;
	font-style: italic;
  text-align: center;
}
.signoff a:link,
.signoff a:visited {
	color: #888888;
}
.signoff a:hover,
.signoff a:active {
	color: #a2a2a2;
}

.pagination {
	margin-bottom: 1.6em;
	text-align: center;
}

.button-flat {
  font: 1em 'Droid Arabic Kufi', serif !important;
  position: relative;
	display: inline-block;
	padding: 5px 25px;
	margin: 20px 10px;
	border-radius:6px;
	text-decoration: none;
	font-size: 1.1em;
	color: #444 !important;
	border: 2px solid #444;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button-flat:hover {
	border-color: #c75f8c;
	color: #c75f8c !important;
}

.hero {
	text-align: center;
}

.footer {
	font-size: .9em;
	text-align: center;
}
.footer .notice {
	font-size: 0.8em;
}

.footer .notice a:link,
.footer .notice a:visited {
	color: #888888;
}
.footer .notice a:hover,
.footer .notice a:active {
	color: #a2a2a2;
}

.ltr {
	direction: ltr
}
.center {
	text-align: center
}


.faded {
  color: #ccc;
}

@media screen and (max-width: 640px) {

	body {
		text-align: initial;
	}

}
