body {
	background: #FFF;
	overflow: hidden;
	color: #A0999C;
}
#container {
	left:20%;
	top: 20%;
	position: absolute;
	height: 420px;
	width: 400px;
	text-shadow: 1px 1px 1px #FFF;
}

#container h2 {
	font-family: 'Arvo', Georgia, Times, serif;
	font-weight: normal;
	line-height: 45px;
}

#container p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;	
	font-size: 16px;
	line-height: 25px;
}
		
#container a {
	color: #D7D5D6;
}
#container a:hover {
	background: #3D192F;
	text-shadow: 0;
	
}
#heart:hover{
	color:#FF7979;
}
