<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="author" content="Ahmad Salman" />
  
   <title>{{ page.title }} by @a7mads</title>
   
   <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js'></script>
   <script type='text/javascript' src='/js/tooltip.js'></script>
   
   <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/earlyaccess/droidarabickufi.css' rel='stylesheet' type='text/css'>
   
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

</head>
<body>
    
    <header class="header">
      <!-- <div id="logo"><a href="/">45</a></div> -->
      <h1><a href="/">Ahmad Salman</a></h1>
        <p class="subheader">
          <a href="/projects">Projects</a> <span class="faded">//</span> <a href="http://twitter.com/a7mads">@a7mads</a>
        </p>
        <hr>
    </header>
  
    <div class="main {{ page.direction }}">
  
  {{ content }}
  
  <div class="footer">
    <hr>
	 <div class="notice">
 مرخص بموجب <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.ar">المشاع الابداعي </a>.
      </div>
    </div>
  </div> <!-- main-->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20093809-6']);
		  _gaq.push(['_setDomainName', 'ahmad.io']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
</body>
</html>
